<<<<<<<< HEAD:app/css/darkPatterns.css
.dark-highlight {
	position: relative;
	border: 1px solid red;
	
}

.dark-highlight .dark-highlight-body {
========
.dark_bust-highlight {
	position: relative;
	border: 1px solid #26ff00;
}

.dark_bust-highlight .dark_bust-highlight-body {
>>>>>>>> 0f9d3d2a75909a30ded99e326b5d0c214e5358ca:app/css/dark_bust.css
	font-size: 12px;
	font-weight: 150;

	margin: 0;
	width: 200px;
	color: #000000;
	background-color: #d8d8d8;

	position: absolute;
	z-index: 100;
	bottom: 125%;
	left: 50%;
	margin-left: -100px;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;
}

<<<<<<<< HEAD:app/css/darkPatterns.css
.dark-highlight-body .modal-header {
========
.dark_bust-highlight-body .modal-header {
>>>>>>>> 0f9d3d2a75909a30ded99e326b5d0c214e5358ca:app/css/dark_bust.css
	align-items: center;
	text-align: center;
	box-shadow: 0px 3px 2px -1px #e3e3e3;
	background-color: #d8d8d8;

	padding: 3px;
}

<<<<<<<< HEAD:app/css/darkPatterns.css
.dark-highlight-body .modal-header h1 {
	color: #ffffff;
========
.dark_bust-highlight-body .modal-header h1 {
	color: #000000;
>>>>>>>> 0f9d3d2a75909a30ded99e326b5d0c214e5358ca:app/css/dark_bust.css

	font-size: 16px;
	font-weight: 300;
	margin: 0;
}

<<<<<<<< HEAD:app/css/darkPatterns.css
.dark-highlight-body .modal-content {
========
.dark_bust-highlight-body .modal-content {
>>>>>>>> 0f9d3d2a75909a30ded99e326b5d0c214e5358ca:app/css/dark_bust.css
	padding: 8px 16px 8px 16px;
	font-size: 12px;
	font-weight: 150;
	color: #000000;
}

/* Show the tooltip text when you mouse over the tooltip container */
<<<<<<<< HEAD:app/css/darkPatterns.css
.dark-highlight:hover .dark-highlight-body {
========
.dark_bust-highlight:hover .dark_bust-highlight-body {
>>>>>>>> 0f9d3d2a75909a30ded99e326b5d0c214e5358ca:app/css/dark_bust.css
	visibility: visible;
	opacity: 1;
}
