html{
	background: none;
}

body {
	font-size: 24px;
	margin: 0;
	min-height: 180;
	width: 296px;
	color: aliceblue;
	border-radius: 10px;
	background-color: #0c0c0c;
}

h1 {
	font-size: 36px;
	font-weight: 500;
	margin: 0;
}

p {
	font-size: 14px;
}

button {
	background-color: #a81f25;
	border: none;
	font-size: 16px;
	padding: 12px 12px;
	margin: 8px 0px 8px 0px;
	font-weight: 550;
	color: aliceblue;
	border-radius: 6px;
	width: 90%;
	transition: background-color 0.2s ease;
}

button:active {
	background-color: red;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #000000;
	text-decoration: none;
}

.modal-header-content {
	padding: 16px 16px 16px 16px;
}
.modal-header {
	align-items: center;
	text-align: center;
	border-bottom: aliceblue 2px solid;
	color: aliceblue;
	background-color: #000000;
	padding: 3px;
}

.modal-content {
	padding: 0px 16px 0px 16px;
}

.modal-footer {
	text-align: center;
	font-size: 12px;
	padding: 3px 3px 8px 3px;
}

.container {
	color: aliceblue;
	background-color: #0c0c0c;
	margin: 8px 0px 8px 0px;
	padding: 6px 14px 6px 14px;
	border-radius: 10px;
}

.container p {
	margin: 0px;
}

.label {
	color: aliceblue;
	margin: 0px;
	font-weight: 600;
}

.number,
.total-number {
	color: aliceblue;
	font-size: 32px;
}

.modal-footer a {
	color: aliceblue;
}

.loader {
	width: 36px;
	height: 36px;
	border: 5px solid white;
	border-bottom-color: #ff3d00;
	border-radius: 50%;
	display: inline-block;
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
	align-self: center;
	margin: 0 auto; /* Add this line */
	margin-top: 20px;
	margin-bottom: 20px;
}

.style-1 {
	list-style-type: none;
	padding: 0;
	li {
	  /* font-weight: bold; */
	  color: white;
	  width: 250px;
	  background: #191919;
	  margin-bottom: 8px/2;
	  border-radius: 8px/4;
	  /* height: 20px; */
	}
	em {
	  font-style: normal;
	  display: inline-block;
	  background: #a81f25;
	  width: 85px;
	  padding-top: 8px;
	  padding-left: 8px;
	  padding-bottom: 8px;
	  padding-right: 8px;
	  border-radius: 8px/4;
	  animation: grow-padding-right 1s;
	  font-size: small;
	}
	span {
	  float: right;
	  padding: 8px;
	  font-size: small;
	}
  }

@-webkit-keyframes rotation {
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}
